<div class="max-w-md mx-auto mt-20">

  <div class="bg-slate-900 p-8 rounded-xl">

    <h1 class="text-2xl font-bold mb-6">
      Login
    </h1>

    <form action="/login" method="POST">

      <input
        name="email"
        type="email"
        placeholder="Email"
        class="w-full p-3 rounded bg-slate-800 mb-4">

      <input
        name="senha"
        type="password"
        placeholder="Senha"
        class="w-full p-3 rounded bg-slate-800 mb-4">

      <button
        class="w-full bg-emerald-600 p-3 rounded">

        Entrar

      </button>

    </form>

  </div>

</div>